header {
    background-color: rgb(70, 70, 70);
    display: flex;
    width: 100%;
    height: 3.5rem;
    overflow: hidden;
}

.header-icon-container {
    display: flex;
    width: 100%;
    height:100%;
    justify-content: flex-end;
}

.header-content-container {
    margin: auto 0.5vw; 
    color: white;
}

.header-title {
    margin: auto 0.5vw;
    width: 50%;
}

.header-title-text {
    color: white;
    text-decoration: none;
}



