
.subscription-view-root {
	width: 100%;
	margin: 0 auto;
	display: inline-flex;
	height: 96.1vh;
  }


.subscription-view-container {
	margin: 0 auto;
	color: white;
}

.active-item-filter-list-container {
	width: 65%;
	margin-left: 1vw;
}

.active-item-filter-list {
	width: 100%;
	height: 35vh;
	overflow-y: auto;
	margin-left: 1vw;
}

.edit-item-filter-button {
	margin: 0 auto;
	margin-left: 9%;
	align-self: flex-end;
}

.item-filter-container {
	width: 500px;
	display: flex;
	flex-direction: row;
	border-radius: 4px;
}

.active-item-filter-list-header {
	border-bottom: 2px solid white;
	border-radius: 2px;
}

.subscription-list {
	display: inline-flex;
	height: 90vh;
	margin-right: auto;
}

.card-list-item  {
 	width: 100%;
}

.subscription-list-item {
	height: 80vh;
	overflow-y: auto;
}

.subscription-list-header {
	color: white;
	text-align: center;
	border-bottom: 2px white solid;
}
.form-save-button {
	padding-top: 10em;
	margin: auto;
}