.valuable-item {
    font-size: 0.9rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin-left: 4vw;
    margin-right: 1vw;
    background-color: rgb(253, 204, 99);
    height: 5em;
    border-radius: 2vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

.valuable-item * {
    margin: auto;
}

.break {
    width: 10px;
    background-color: red;
}