.subscription-view-container {
	margin: auto;
	color: white;
}

.active-item-filter-list-container {
	width: 65%;
	margin-left: 1vw;
}

.active-item-filter-list {
	width: 100%;
	height: 35vh;
	overflow-y: auto;
	margin-left: 1vw;
}

.edit-item-filter-button {
	margin: 0 auto;
	margin-left: 9%;
	align-self: flex-end;
}

.item-filter-container {
	width: 500px;
	/* margin-top: 1vh; */
	display: flex;
	flex-direction: row;
	/* background-color: rgb(63, 63, 63); */
	border-radius: 4px;
	/* justify-content: space-evenly; */
}

.active-item-filter-list-header {
	border-bottom: 2px solid white;
	border-radius: 2px;
}

.subscription-view-root {
  width: 100%;
  margin: 0 auto;
  display: inline-flex;
}

.subscription-list {
	display: inline-flex;
	height: 90vh;
	margin-right: auto;
}

.card-list-item  {
 	width: 100%;
}

.subscription-list-item {
	height: 80vh;
	overflow-y: auto;
}

.subscription-list-header {
	color: white;
	text-align: center;
	border-bottom: 2px white solid;
}

/* make active subscriptions drop down at and below this width 1040*/